@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css";

@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

/* stylesheet */
@import "./stylesheet/about.css";
@import "./stylesheet/cards.css";
@import "./stylesheet/preffer.css";

@import 'https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap';


:root {
  --color-1: #052b2f;
  --color-2: #073438;
  --color-3: #0e4b50;
  --color-4: #2d8f85;
  --color-5: #637c54;
  --bar-bg: #e0e0e0;
  --fill-color: linear-gradient(to right, #637c54, purple, rgb(224, 74, 74), #073438, #2d8f85, #637c54);
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}


html {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
}


.App {
  width: 100%;
  min-height: 100lvh;
  background-position: cover;
  font-family: Sour Gummy, Arial, Helvetica, sans-serif;
  position: absolute;
  top: 0;
  right: 0;
}

h1,
h2,
h3 {
  cursor: default;
}

i {
  cursor: pointer;
}

/* colors */
.purple {
  color: purple;
  font-size: 1.2rem;
}